<div class="container">
    <div class="top-itens">
        <div class="botao-title">
            <mat-icon>archive</mat-icon><span>Suas Bibliotecas</span>
        </div>
        <div class="nav-button">
            <mat-icon>add</mat-icon>
            <mat-icon>arrow_forward</mat-icon>
        </div>
    </div>

    <div class="container-categories">
        <ul class="categories">
            <li class="categories-item">Playlists</li>
            <li class="categories-item">Podcast e Programas</li>
            <li class="categories-item">Álbuns</li>
            <li class="categories-item">Artistas</li>
        </ul>


    </div>

    <div class="container-bibliotecas">
        <div class="filtros">
            <mat-icon>search</mat-icon>
            <select name="Filtros" id="cboFiltros">
                <optgroup label="Classificado Por">
                    <option>Recentes</option>
                    <option>Adicionados Recentemente</option>
                    <option>Ordem Alfabética</option>
                    <option>Criador</option>
                </optgroup>

            </select>
        </div>
        
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>

</div>
